html::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  content: "Please enable JavaScript in your browser.\00000a\
  The JavaScript support is needed in order to make this application work.";
  padding: 3rem;
  font-size: 1rem;
  text-align: center;
  line-height: 150%;
  white-space: pre-line;
  background: rgba(255, 255, 255, .9);
  box-shadow: -10px 36px 91px rgba(0, 0, 0, .4);
}

html.has-js::after {
  display: none;
}
